# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

static/*
staticfiles/*
!staticfiles/.gitkeep 
core/static/*
app/dl_scripts/anomaly_detector/models/*
app/dl_scripts/anomaly_detector/features/*
app/dl_scripts/anomaly_detector/cropped_videos/*
app/dl_scripts/Pose/graph_models/*
app/dl_scripts/Tracking/graph_model/*
